.experienceCard {
  background-color: var(--clr-bg-alt);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  z-index: 2 !important;
}

.title {
  margin: 0.5rem !important;
}

.icon {
  background: transparent !important;
}